resources/mixins/kubernetes/generated
resources/grafana/mixins linguist-generated=true
resources/prometheus/kubernetes-mixin-alerts.yaml linguist-generated=true
resources/prometheus/kubernetes-mixin-rules.yaml linguist-generated=true
