rule_files:
  - ../__prometheus-rules-test.yaml

evaluation_interval: 1m
tests:
  - interval: 1m
    input_series:
      - series: prometheus_remote_storage_failed_samples_total
        values: "1+0x12 1+2.5x12"
      - series: prometheus_remote_storage_succeeded_samples_total
        values: "1+1x12 11+9.5x12"
      - series: prometheus_remote_storage_retried_samples_total
        values: "1+0x12 1+2.5x12"
      - series: prometheus_remote_storage_succeeded_samples_total
        values: "1+1x12 11+9.5x12"
    alert_rule_test:
      - eval_time: 12m
        alertname: ObservabilityOperatorRemoteWriteFailure
        exp_alerts: []
      - eval_time: 24m
        alertname: ObservabilityOperatorRemoteWriteFailure
        exp_alerts:
          - exp_labels:
              severity: critical
            exp_annotations:
              summary: "The Observability Operator's Prometheus is failing to remote write to Observatorium."
              description: "The Prometheus remote write had a failure rate above 10% for more than 10 minutes."
              sop_url: ""
