rule_files:
  - /tmp/prometheus-rules-test.yaml

evaluation_interval: 1m

tests:
  - interval: 1m
    input_series:
      - series: kubelet_volume_stats_available_bytes{persistentvolumeclaim="managed-services-prometheus-kafka-prometheus-0", namespace="rhacs-observability"}
        # Initial time series value is 10GiB, it is decremented by 100MiB every minute for 360 minutes.
        values: "10737418240+0x10 10737418240-104857600x110"
      - series: kubelet_volume_stats_capacity_bytes{persistentvolumeclaim="managed-services-prometheus-kafka-prometheus-0", namespace="rhacs-observability"}
        values: "10737418240+0x120"
    alert_rule_test:
      - eval_time: 10m
        alertname: ObservabilityOperatorPrometheusPersistentVolumeFillingUp
        exp_alerts: []
      - eval_time: 100m
        alertname: ObservabilityOperatorPrometheusPersistentVolumeFillingUp (~4 days left)
        exp_alerts:
          - exp_labels:
              alertname: ObservabilityOperatorPrometheusPersistentVolumeFillingUp (~4 days left)
              severity: warning
              persistentvolumeclaim: managed-services-prometheus-kafka-prometheus-0
              namespace: rhacs-observability
            exp_annotations:
              summary: "The Observability Operator's Prometheus persistent volume in namespace namespace `rhacs-observability` is filling up."
              description: "The Observability Operator's Prometheus storage in namespace `rhacs-observability` is filling up for PVC `managed-services-prometheus-kafka-prometheus-0`. Available storage quota is `13.09%`. The volume is expected to fill up within 4 days based on linear extrapolation over the last 6 hours."
              sop_url: ""
      - eval_time: 110m
        alertname: ObservabilityOperatorPrometheusPersistentVolumeFillingUp
        exp_alerts:
          - exp_labels:
              alertname: ObservabilityOperatorPrometheusPersistentVolumeFillingUp (< 10% left)
              severity: critical
              persistentvolumeclaim: managed-services-prometheus-kafka-prometheus-0
              namespace: rhacs-observability
            exp_annotations:
              summary: "The Observability Operator's Prometheus persistent volume in namespace namespace `rhacs-observability` is filling up."
              description: "The Observability Operator's Prometheus storage in namespace `rhacs-observability` is filling up for PVC `managed-services-prometheus-kafka-prometheus-0`. Available storage quota is `3.32%`."
              sop_url: ""
          - exp_labels:
              alertname: ObservabilityOperatorPrometheusPersistentVolumeFillingUp (~4 days left)
              severity: warning
              persistentvolumeclaim: managed-services-prometheus-kafka-prometheus-0
              namespace: rhacs-observability
            exp_annotations:
              summary: "The Observability Operator's Prometheus persistent volume in namespace namespace `rhacs-observability` is filling up."
              description: "The Observability Operator's Prometheus storage in namespace `rhacs-observability` is filling up for PVC `managed-services-prometheus-kafka-prometheus-0`. Available storage quota is `3.32%`. The volume is expected to fill up within 4 days based on linear extrapolation over the last 6 hours."
              sop_url: ""
