rule_files:
  - /tmp/prometheus-rules-test.yaml

evaluation_interval: 1m

group_eval_order:
  - rhacs-central.sli
  - rhacs-central.slo
  - rhacs-central.alerts

tests:
  # Central availability error budget exhaustion - 90%
  - interval: 5m
    input_series:
      # 15m downtime due to pod not ready.
      - series: kube_pod_container_status_ready{container="central", pod="central-test1", namespace="rhacs-test1"}
        values: "1+0x300 0 0 0 1+0x100"
      - series: grpc_server_handled_total{job="central", grpc_type="unary", grpc_code="OK", namespace="rhacs-test1", rhacs_instance_id="test"}
        values: "1+1x400"
      - series: grpc_server_started_total{job="central", grpc_type="unary", namespace="rhacs-test1", rhacs_instance_id="test"}
        values: "1+1x397 399+2x1"
      - series: http_incoming_requests_total{job="central", code="200", namespace="rhacs-test1", rhacs_instance_id="test"}
        values: "4+4x400"
      # 5m downtime due NOK or 5xx responses.
      - series: grpc_server_handled_total{job="central", grpc_type="unary", grpc_code="NOK", namespace="rhacs-test1", rhacs_instance_id="test"}
        values: "0+0x397 0+1x1"
      - series: http_incoming_requests_total{job="central", code="500", namespace="rhacs-test1", rhacs_instance_id="test"}
        values: "0+0x397 0+4x1"
    alert_rule_test:
      - eval_time: 100m
        alertname: Central availability error budget exhaustion - 90%
        exp_alerts: []
      - eval_time: 2000m
        alertname: Central availability error budget exhaustion - 90%
        exp_alerts:
          - exp_labels:
              alertname: Central availability error budget exhaustion - 90%
              service: central
              severity: critical
              team: appsre
              namespace: rhacs-test1
              rhacs_instance_id: test
            exp_annotations:
              message: "High availability error budget exhaustion for central. Current exhaustion: 100.2%."
              sop_url: "https://github.com/stackrox/acs-managed-service-runbooks/blob/master/sops/dp-018-rhacs-central-slo-alerts.md"

  # Central availability error budget exhaustion - 70%
  - interval: 5m
    input_series:
      # 10m downtime due to pod not ready.
      - series: kube_pod_container_status_ready{container="central", pod="central-test2", namespace="rhacs-test2"}
        values: "1+0x300 0 0 1+0x100"
      - series: grpc_server_handled_total{job="central", grpc_type="unary", grpc_code="OK", namespace="rhacs-test2"}
        values: "2+2x400"
      - series: grpc_server_started_total{job="central", grpc_type="unary", namespace="rhacs-test2"}
        values: "2+2x397 798+4x1"
      - series: http_incoming_requests_total{job="central", code="200", namespace="rhacs-test2"}
        values: "3+3x400"
      # 5m downtime due NOK or 5xx responses.
      - series: grpc_server_handled_total{job="central", grpc_type="unary", grpc_code="NOK", namespace="rhacs-test2"}
        values: "0+0x397 0+2x1"
      - series: http_incoming_requests_total{job="central", code="500", namespace="rhacs-test2"}
        values: "0+0x397 0+3x1"
    alert_rule_test:
      - eval_time: 100m
        alertname: Central availability error budget exhaustion - 70%
        exp_alerts: []
      - eval_time: 2000m
        alertname: Central availability error budget exhaustion - 70%
        exp_alerts:
          - exp_labels:
              alertname: Central availability error budget exhaustion - 70%
              service: central
              severity: warning
              namespace: rhacs-test2
            exp_annotations:
              message: "High availability error budget exhaustion for central. Current exhaustion: 75.15%."
              sop_url: "https://github.com/stackrox/acs-managed-service-runbooks/blob/master/sops/dp-018-rhacs-central-slo-alerts.md"

  # Central availability error budget exhaustion - 50%
  - interval: 5m
    input_series:
      # 5m downtime due to pod not ready.
      - series: kube_pod_container_status_ready{container="central", pod="central-test3", namespace="rhacs-test3"}
        values: "1+0x300 0 1+0x100"
      - series: grpc_server_handled_total{job="central", grpc_type="unary", grpc_code="OK", namespace="rhacs-test3"}
        values: "3+3x400"
      - series: grpc_server_started_total{job="central", grpc_type="unary", namespace="rhacs-test3"}
        values: "3+3x397 1197+6x1"
      - series: http_incoming_requests_total{job="central", code="200", namespace="rhacs-test3"}
        values: "2+2x400"
      # 5m downtime due 5xx responses.
      - series: grpc_server_handled_total{job="central", grpc_type="unary", grpc_code="NOK", namespace="rhacs-test3"}
        values: "0+0x397 0+3x1"
      - series: http_incoming_requests_total{job="central", code="500", namespace="rhacs-test3"}
        values: "0+0x397 0+2x1"
    alert_rule_test:
      - eval_time: 100m
        alertname: Central availability error budget exhaustion - 50%
        exp_alerts: []
      - eval_time: 2000m
        alertname: Central availability error budget exhaustion - 50%
        exp_alerts:
          - exp_labels:
              alertname: Central availability error budget exhaustion - 50%
              service: central
              severity: warning
              namespace: rhacs-test3
            exp_annotations:
              message: "High availability error budget exhaustion for central. Current exhaustion: 50.1%."
              sop_url: "https://github.com/stackrox/acs-managed-service-runbooks/blob/master/sops/dp-018-rhacs-central-slo-alerts.md"

  # Central high availability burn rate
  - interval: 5m
    input_series:
      # 30m downtime due to pod not ready.
      - series: kube_pod_container_status_ready{container="central", pod="central-test4", namespace="rhacs-test4"}
        values: "1+0x6 0+0x6"
      - series: grpc_server_handled_total{job="central", grpc_type="unary", grpc_code="OK", namespace="rhacs-test4"}
        values: "5+5x14"
      - series: grpc_server_started_total{job="central", grpc_type="unary", namespace="rhacs-test4"}
        values: "5+5x14"
      - series: http_incoming_requests_total{job="central", code="200", namespace="rhacs-test4"}
        values: "5+5x14"
    alert_rule_test:
      - eval_time: 30m
        alertname: Central high availability burn rate
        exp_alerts: []
      - eval_time: 70m
        alertname: Central high availability burn rate
        exp_alerts:
          - exp_labels:
              alertname: Central high availability burn rate
              service: central
              severity: critical
              team: appsre
              namespace: rhacs-test4
            exp_annotations:
              message: "High availability burn rate for central. Current burn rate per hour: 59.02."
              sop_url: "https://github.com/stackrox/acs-managed-service-runbooks/blob/master/sops/dp-018-rhacs-central-slo-alerts.md"
