apiVersion: monitoring.rhobs/v1
kind: PodMonitor
metadata:
  name: rhacs-cloudwatch-metrics
  labels:
    app: rhacs
    app.kubernetes.io/managed-by: observability-operator
spec:
  selector:
    matchLabels:
      app: cloudwatch-exporter
  namespaceSelector:
    any: true
  podMetricsEndpoints:
    - path: /metrics
      port: monitoring
      relabelings:
        - action: labeldrop
          regex: endpoint

        - sourceLabels: [container]
          action: replace
          targetLabel: job

        - action: labelmap
          regex: __meta_kubernetes_pod_annotation_rhacs_redhat_com_(.+)

        - action: labelmap
          regex: __meta_kubernetes_pod_label_rhacs_redhat_com_(.+)

        - sourceLabels: [rhacs_tenant]
          targetLabel: rhacs_instance_id

        - action: labeldrop
          regex: rhacs_tenant

      metricRelabelings:
        - action: replace
          sourceLabels: [__name__]
          regex: 'aws_(.*)_selinux_denials_sample_count'
          targetLabel: __name__
          replacement: selinux_denials_sample_count
        - action: replace
          sourceLabels: [__name__]
          regex: 'aws_(.*)_network_policy_denials_sample_count'
          targetLabel: __name__
          replacement: network_policy_denials_sample_count
