name: Lint

on:
  push:
    branches: [master]
  pull_request:
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.23.0"
      - name: Install promtool
        run: |
          curl -s -S -L -o /tmp/promtool https://github.com/prometheus/prometheus/releases/download/v3.2.1/prometheus-3.2.1.linux-amd64.tar.gz
          tar -zxf /tmp/promtool --strip-components=1 --directory /usr/local/bin &> /dev/null
      - name: Install mimirtool
        run: |
          curl --silent --show-error --fail --location https://github.com/grafana/mimir/releases/download/mimir-2.15.1/mimirtool-linux-amd64 --output /usr/local/bin/mimirtool
          echo "01893721dea5eb61866aad835740891b4859af8d87c522aec81167c0fed1ab52 /usr/local/bin/mimirtool" | sha256sum --check --status
          chmod +x /usr/local/bin/mimirtool
      - name: Patch PATH to include GOBIN
        run: echo "PATH=$(echo $PATH):/home/runner/go/bin" >> $GITHUB_ENV
      - uses: pre-commit/action@v3.0.1
